<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="contacts">Contacts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="segments">Custom Segments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>

<hr>

Asdf