
<div class="alert alert-success" role="alert"><%= notice %></div>

<p>
  <strong>Name:</strong>
  <%= @segment.name %>
</p>

<p>
  <strong>Criteria:</strong>
  Lista de critérios
</p>

<%= link_to 'Edit', edit_segment_path(@segment), class:"btn btn-success" %> |
<%= link_to 'Back', segments_path, class:"btn btn-secondary" %>
